@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Raleway:300,400,700");

body{
	margin:0;
	padding:0;
	font-family:"Open Sans",sans-serif;
	color:#555;
}

*{font-family:inherit;}

h1,h2,h3,h4,h5,h6{font-family:"Raleway",sans-serif;}

a{color:inherit;text-decoration:none;}

hr{border:none;border-top:1px dotted #ccc;}

.bg-cor{background-color:#89346d!important;}

.bg-linha{border:5px solid #89346d;}

.botao-cor{
	display:inline-block;
	border:none;
	background-color:#89346d;
	color:#fff;
	outline:none;
	border-radius:3px;
	padding:10px;
	font-size:15px;
	text-decoration:none;
	border:2px solid #772a5e;
	cursor:pointer;
	transition:background-color 200ms;
}

.botao-cor:hover{background-color:#772a5e;}

.botao-linha-cor{
	display:inline-block;
	border:none;
	background-color:none;
	border:2px solid #F1B30C;
	color:#c18f0a;
	outline:none;
	border-radius:3px;
	padding:10px;
	font-size:0.8em;
	text-decoration:none;
	cursor:pointer;
	transition:background-color 200ms,color 200ms;
}

.botao-linha-cor:hover{
	background-color:#f1b30c;
	color:#fff;
}

.botao-sm{padding:3px 5px;}

.botao-lg{width:100%;}

.texto-branco{color:#fff;}

.texto-cor{color:#89346d;}

.linha-detalhe{
	height:3px;
	background-color:#89346d;
	width:50%;
}

.main-header{
	background-color:#fff;
	border-bottom:2px solid #ccc;
}

.logo img{
	padding:15px;
	width:100%;
	max-width:350px;
	height:auto;
}

.main-menu{
	margin:0;
	padding:0;
	list-style:none;
}

.main-menu li{
	display:flex;
	flex-grow:1;

}

.main-menu li a{
	position:relative;
	display:flex;
	flex:1;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	color:#1d1c53;
	padding:15px 0;
	font-size: 15px;
}

.main-menu li a:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	width:100%;
	height:0;
	background-color:#89346d;
	transition:height 200ms;
}

.main-menu li a:hover:before{height:3px;}

.main-menu .online a{
	align-self:center;
	background-color:#F1B30C;
	color:#fff;
	border-radius:3px;
}

.botao-responsivo{width:100%;text-align:left;}

.social{
	background-color:#ccc;
	margin:2px;
	padding:8px;
	border-radius:3px;
	color:#fff;
}

.social.facebook{background-color:#405698;}

.social.instagram{background-color:#89346d;}

.social.linkedin{background-color:#1A71B3;}

.social .fa{width:15px;text-align:center;}

.banner{
	min-height:500px;
	padding:35px;
	background-image:url('../img/banner.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	color:#555;
	border-bottom: 2px solid #ccc;
}

.banner h2{
	font-weight:normal;
	color:#89346d;
	font-size:2.3em;
}

@media (min-width: 768px){

	.banner h2{font-size:3em;}

}

.banner h2 small{font-size:0.5em;color:#1d1c53;}

.banner p{color: #1d1c53;}



.blocos-header .bloco{
	padding:30px;
	background-color:#f5f5f5;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

@media screen and (min-width: 992px){

	.blocos-header .bloco{min-height:310px;}

}

.blocos-header .bloco.imagem{min-height:300px;}

.img-serv-um{background-image: url('../img/img_serv_um.png');}

.img-serv-dois{background-image: url('../img/img_serv_dois.png');}

.blocos-header .bloco .titulo-bloco{color:#89346d;font-weight:normal;}

.blocos-header .bloco .titulo-bloco small{color:#1d1c53!important;font-size:0.6em;}

.titulo-bloco .fa{color:#fff;padding:75px;}

.btn-contratar{margin-top: 15px;}

.faixa-especialidades{
	position:relative;
	background-image:url('../img/faixa-links.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.rodape{background-color:#eee;border-top:2px solid #ddd;}

.copy{
	padding: 6px 0;
	background: #000;
	color: #fff;
}

.copy img{
	width: 60px;
	position: relative;
	top: 2px;
}

.form-padrao input,.form-padrao textarea{
	padding:15px;
	border:none;
	border-bottom:2px solid #ddd;
	background-color:#fff;
	border-radius:3px;
	width:100%;
	resize:vertical;
	font-family:inherit;
	outline:none;
}

.form-padrao .carregando{
	display:none;
	width:100%;
	border-radius:3px;
}

.form-padrao .error{
	color:#a94442;
	background-color:#f2dede;
	border:2px solid #ebccd1;
}

.form-padrao .success{
	color:#3c763d;
	background-color:#dff0d8;
	border:2px solid #d6e9c6;
}

.paginacao{text-align:center;}

.paginacao .atual{background-color:#e5aa0b;cursor:default;}

.botao-noticia{padding:3px 5px;}

.utilitarios{list-style:none;}

.utilitarios li:not(:last-child){border-bottom:1px solid #ddd;}

.utilitarios a{
	display:block;
	padding:10px 15px;
	text-decoration:none;
	transition:background-color 200ms;
}

.utilitarios a:hover{background-color:#eee;}

.mapa iframe{width:100%;height:350px;}

.form-site input,.form-site textarea{
	padding:20px;
	border:1px solid #eee;
	border-bottom:2px solid #ddd;
	background-color:#fff;
	border-radius:3px;
	width:100%;
	resize:vertical;
	font-family:inherit;
	outline:none;
}

.form-site button{background-color:transparent;}