* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { 
	font-family: 'Montserrat', sans-serif; 
	font-size: 16px;
	color: #666;
	background: #d9d9d9;
}

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

img{ max-width: 100%; }

a { text-decoration: none!important; }

/*p { text-align: center; }*/

.content-geral { padding-bottom: 50px; }

.header { 
	justify-content: space-between; 
	align-items: center; 
	margin: 0 auto; 
	padding: 50px 25px; 
}

.logotipo { 
	align-items: center; 
	width: 200px; 
	height: auto; 
}

.thumbnail-detalhes img{
	border: 2px solid #fff!important;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.50);
}

.titulo { 
	margin-top: -14px; 
	font-size: 1.6em;
	text-transform: uppercase;
	line-height: 50px;
	cursor: default;
}

.sublinhado:after {
	width:100%;
	height: 2px;
    content:'';
    display:block;
    margin-bottom: 5px;
    background: #ff6300;
}

.infos { margin-top: 35px; }

.content-infos ul li { list-style: none!important; padding: 10px 0px;}

.content-infos .fa { font-size: 30px; color: #ff6300; width: 35px;}

.fa-paperclip{
	color: #ff6300!important; 
	font-size: 44px!important;
	transform: rotate(-100deg); 
	position: relative;
	top: 17px;z-index: 2;
}

.box_descricao{
	background: rgba(255, 255, 255);
	padding: 15px;
	margin-top: 40px;
	position: relative;
	z-index: -1;
}

.box_descricao h6{margin-bottom: 0px!important;}

.botoes { margin-top: 15px; }
.botoes .btn { 
	margin-bottom: 10px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
}
.botoes .btn span { letter-spacing: 2.4px; }
.botoes .fa { font-size: 16px; color: #fff; }
.btn-quero {
	color: #fff!important; 
    background-color: #ff6300!important;
    border-color: #ff6300!important;
    font-weight: 300;
    border-radius: 500px!important;
    padding: 8px 8px 8px 14px!important;     
}

.btn-quero:hover {
    color: #fff;
    background-color: #e25902!important;
    border-color: #e25902!important;
}

.btn-previa {
    color: #fff!important; 
    background: #005cff!important;
    border-color: #005cff!important;
    font-weight: 300;
    border-radius: 500px!important;
    padding: 8px 8px 8px 14px!important; 
}

.btn-previa:hover {
	color: #fff;
    background-color: #0049c9!important;
    border-color: #0049c9!important;
}

.internoMap{
	display:none;
	margin-top:60px;
	z-index:1;
	position:relative;
	border:10px solid white;
	width:100%
}

.form-contato { background: #fff!important; }

/**** FOOTER ****/
.footer { 
    width: 100%;
    position: relative;
    z-index: 99;
    background: #000; }
.content-footer { padding: 22px 15px 8px 15px!important; }
.footer p { color: #fff; font-size: 12px; }
.footer-left p { text-align: left!important;}
.footer-right p { text-align: right!important; }
.footer img { width:70px;margin: -13px 0px 0px 6px; }
/**** /FOOTER ****/

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 400px) {
    
}* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { 
	font-family: 'Montserrat', sans-serif; 
	font-size: 16px;
	color: #666;
	background: #d9d9d9;
}

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

img{ max-width: 100%; }

a { text-decoration: none!important; }

/*p { text-align: center; }*/

.content-geral { padding-bottom: 50px; }

.header { 
	justify-content: space-between; 
	align-items: center; 
	margin: 0 auto; 
	padding: 50px 25px; 
}

.logotipo { 
	align-items: center; 
	width: 200px; 
	height: auto; 
}

.thumbnail-detalhes img{
	border: 2px solid #fff!important;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.50);
}

.titulo { 
	margin-top: -14px; 
	font-size: 1.6em;
	text-transform: uppercase;
	line-height: 50px;
	cursor: default;
}

.sublinhado:after {
	width:100%;
	height: 2px;
    content:'';
    display:block;
    margin-bottom: 5px;
    background: #ff6300;
}

.infos { margin-top: 35px; }

.content-infos ul li { list-style: none!important; padding: 10px 0px;}

.content-infos .fa { font-size: 30px; color: #ff6300; width: 35px;}

.fa-paperclip{
	color: #ff6300!important; 
	font-size: 44px!important;
	transform: rotate(-100deg); 
	position: relative;
	top: 17px;z-index: 2;
}

.box_descricao{
	background: rgba(255, 255, 255);
	padding: 15px;
	margin-top: 40px;
	position: relative;
	z-index: -1;
}

.box_descricao h6{margin-bottom: 0px!important;}

.botoes { margin-top: 15px; }
.botoes .btn { 
	margin-bottom: 10px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
}
.botoes .btn span { letter-spacing: 2.4px; }
.botoes .fa { font-size: 16px; color: #fff; }
.btn-quero {
	color: #fff!important; 
    background-color: #ff6300!important;
    border-color: #ff6300!important;
    font-weight: 300;
    border-radius: 500px!important;
    padding: 8px 8px 8px 14px!important;     
}

.btn-quero:hover {
    color: #fff;
    background-color: #e25902!important;
    border-color: #e25902!important;
}

.btn-previa {
    color: #fff!important; 
    background: #005cff!important;
    border-color: #005cff!important;
    font-weight: 300;
    border-radius: 500px!important;
    padding: 8px 8px 8px 14px!important; 
}

.btn-previa:hover {
	color: #fff;
    background-color: #0049c9!important;
    border-color: #0049c9!important;
}

.internoMap{
	display:none;
	margin-top:60px;
	z-index:1;
	position:relative;
	border:10px solid white;
	width:100%
}

.form-contato { background: #fff!important; }

/**** FOOTER ****/
.footer { 
    width: 100%;
    position: relative;
    z-index: 99;
    background: #000; }
.content-footer { padding: 22px 15px 8px 15px!important; }
.footer p { color: #fff; font-size: 12px; }
.footer-left p { text-align: left!important;}
.footer-right p { text-align: right!important; }
.footer img { width:70px;margin: -13px 0px 0px 6px; }
/**** /FOOTER ****/

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 400px) {
    
}